{% extends "layout.html" %}
{% block title %}Add a new post | {% endblock %}

{% block body %}
{% from "macros.html" import with_errors %}
<div class="grid">
    <div class="span16">
        <div class="add-post form-style">
            <form method="post" action="">
                {{ with_errors(form.title, class='text-input') }}
                {{ with_errors(form.body, class='text-input', rows='20', cols='100%') }}
                {{ with_errors(form.tags, class='text-input') }}
                <input type="submit" value="Add Post">
            </form>
        </div>
    </div>
</div>
{% endblock %}
