{% extends "layout.html" %}
{% block title %}{{ user.username }}'s Profile | {% endblock %}

{% block body %}
{% if not session['username'] == user.username and not username %}
<h2>{{ user.username }}'s Profile</h2>
{% elif session.logged_in and session['username'] == user.username %}

<div class="grid">
    <div class="span5">
        <h2>Account Settings</h2>
        <p><small>Your current password is required to make changes</small></p>
    </div>
    <div class="span6">
        {% from "macros.html" import with_errors %}
        <form method="post" action="">
            <div class="form_fields">
                {{ with_errors(form.email, class='form_field') }}
                {{ with_errors(form.old_pass, class='form_field') }}
                {{ with_errors(form.pass_one, class='form_field') }}
                {{ with_errors(form.pass_two, class='form_field') }}
            </div>
            <input class="button" type="submit" value="Update">        
            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
        </form>
        <span style="float:right"><small><a class="delete-user" href="{{ url_for('user', id=session.username, action='delete') }}">Delete Account</a></small></span>
    </div>
</div>
{% endif %}
{% endblock %}
{% block extra_script %}
<script>
    $(document).ready(function() {
        $('a.delete-account').confirm({
            timeout:7000,
            dialogShow:'fadeIn',
            dialogSpeed:'slow',
            buttons: {
                wrapper:'<button></button>',
                separator:'  '
            }  
        });
    });
</script>
{% endblock %}
